<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mally.poopy">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAQ7vcMZuUPaPFiSV6sFtdc2Nk8UCMXyPM" />

        <activity android:name="com.mally.poopy.Cat.CatSetActivity" />
        <activity android:name="com.mally.poopy.Cat.AddCatActivity" />
        <activity android:name="com.mally.poopy.account.SignActivity" />
        <activity android:name="com.mally.poopy.ui.camera.CameraActivity"/>
        <activity android:name="com.mally.poopy.utils.ResultActivity"/>
        <activity android:name="com.mally.poopy.ui.list.ListActivity"/>
        <activity android:name="com.mally.poopy.account.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mally.poopy.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.mally.poopy.ui.home.CatDeleteActivity"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity
            android:name="com.mally.poopy.ui.list.DeleteActivity"
            android:theme="@style/Theme.AppCompat.Dialog"/>
    </application>

</manifest>